<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <meta name="description" content="My blog description here">
    <meta name="author" content="My description here">

    <title>Privacy</title>

</head>

<body>
    <header class="header">
        <h1>About</h1>
        <nav class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/post">Post</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/privacy">Privacy</a></li>
            </ul>
        </nav>
    </header>

    <main class="main-content">
        <section class="row">
            <div class="col">
                <p>Information about the blog or the author goes here...</p>
            </div>
            <div class="col"></div>
        </section>
    </main>

    <footer class="footer">&copy; 2023 My Python Project<br>All rights reserved<br><a href="mailto:email@gmail.com">Send
            an email: email@gmail.com</a></footer>
</body>

</html>