<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <meta name="description" content="My blog description here">
    <meta name="author" content="My description here">
    <title>My Blog</title>
</head>

<body>
    <header class="header">
        <h1>Quote of the day Blog</h1>
        <nav class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/post">Post</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/privacy">Privacy</a></li>
            </ul>
        </nav>
    </header>

    <main class="main-content">
        <section class="row">
            <div class="col">
              <h2>Recent Posts</h2>
              <ul id="postsList">
                  {% for post in posts[::-1] %}  {# Reverse the order of posts using [::-1] #}
                  <li>
                      <h3>{{ post['date'] }}</h3>
                      <p>{{ post['title'] }}</p>
                      <p>{{ post['content'] }}</p>
                  </li>
                  {% endfor %}
              </ul>
            </div>
            <div class="col">
            </div>
        </section>
    </main>

    <footer class="footer">&copy; 2023 My Python Project<br>All rights reserved<br><a
            href="mailto:email@gmail.com">Send an email: email@gmail.com</a></footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>
