<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <meta name="description" content="My blog description here">
    <meta name="author" content="My description here">
    <title>Post</title>
</head>

<body>
    <header class="header">
        <h1>Post</h1>
        <nav class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/post">Post</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/privacy">Privacy</a></li>
            </ul>
        </nav>
    </header>

    <main class="main-content">
        <section class="row">
            <div class="col">
                <h2>Create a New Post</h2>
                <form class="new-post-form" name="newPostForm" method="POST" onsubmit="return validateForm()"
                    action="/new">
                    <label for="title">Title:</label>
                    <input type="text" id="title" name="title" required>
                    <label for="content">Content:</label>
                    <textarea id="content" name="content" rows="4" required></textarea>
                    <label for="date">Date:</label>
                    <input type="date" id="date" name="date" required>
                    <input type="submit" id="submitBtn" value="Create Post">
                </form>
            </div>
            <div class="col"></div>
        </section>
    </main>

    <footer class="footer">&copy; 2023 My Python Project<br>All rights reserved<br><a
            href="mailto:email@gmail.com">Send an email: email@gmail.com</a></footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>
