<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <meta name="description" content="My blog description here">
    <meta name="author" content="My description here">

    <title>Privacy</title>

</head>

<body>
    <header class="header">
        <h1>Privacy</h1>
        <nav class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/post">Post</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/privacy">Privacy</a></li>
            </ul>
        </nav>
    </header>

    <main class="main-content">
        <section class="row">
            <div class="col">
                <h2 class="section-title">Privacy Policy</h2>
                <p class="paragraph">We are committed in protecting the privacy of our online visitors and users. We have adopted an Online Privacy Policy to show you how we collect, store, and use any personal information we have gathered on our site.
                    <br>
                </p>
                <p class="paragraph">Any information that you provide to use by means of contacting us, asking for support, and any other information that you choose to send to us. We do not collect any personal information to guests except for the webserver logs and analytics for statistical purposes.
                    <br>
                </p>
                <p class="paragraph">Any personal information that you provide to our website will not be disclosed to any third-party sites without your consent, unless required by the law to do so. Any personal information will be used for the purpose specified in the privacy policy or in a relevant way. We may use the information to: administer the website. improve the browsing experience of the users, enable the services provided by our website, send email notifications, deal with enquiries and complaints.
                    <br>
                </p>
                <p class="paragraph">Web servers can send information to your web browser via a cookie. The cookie will be saved on your local drive and is often requested back by the web server to enable that server to identify and track the web browser. As such, we may use both “session” cookies and “persistent” cookies on our website. Our providers / advertisers may also send cookies. 
                    <br>
                </p>
                <p class="paragraph">By using this site, you signify that you have read and accepted the Privacy Policy. If you do not agree to any of the policy, please do not use this site. We reserve the right to make changes to this Privacy Policy. We encourage everyone to regularly check the policy for updates and changes. Continued use of the site signifies that you accept any of the changes in the policy.
                    <br>
                </p>
            </div>
            <div class="col"></div>
        </section>
    </main>

    <footer class="footer">&copy; 2023 My Python Project<br>All rights reserved<br><a href="mailto:email@gmail.com">Send
            an email: email@gmail.com</a></footer>
</body>

</html>